html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.hero {
    padding-top: 70px;
    background: url('../assets/14.avif') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;

    .navbar-custom {
        transition: background-color 0.3s ease, padding 0, 3s ease;
        background: transparent;

        &.navbar-scrolled {
            background-color: rgb(0, 0, 0);
            box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
            // background-color: #fff;
            color: #000;
        }

        .brand {
            font-size: 1.5rem;
            font-weight: 300;
            color: #fff;
            margin-left: 17px;
        }

        .navbar-toggler {
            border-color: #fff;
        }

        .navbar-collapse {
            justify-content: flex-start;
        }

        .nav-link {
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: 15px;
            color: rgb(255, 255, 255);
            position: relative; // Position relative to use the pseudo-element

            &:hover {
                color: #3eeabf !important;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px; // Position the line below the text
                width: 100%;
                height: 2px; // Height of the line
                background-color: #3eeabf; // Color of the line
                transform: scaleX(0); // Initially hidden
                transform-origin: bottom right;
                transition: transform 0.3s ease; // Animation for the line
            }

            &:hover::after {
                transform: scaleX(1); // Show the line on hover
                transform-origin: bottom left;
            }

        }
    }
}

.intro-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.name{
    font-size: 3rem;
    font-weight: 500;
}
.skills{
    font-size: 2rem;
    font-weight: 300;
    transition: 0.5s ease;
}
.Resume-button{
    background-color: #1d3557;
    border: none;
    padding: 10px 20px;
    padding-top: 10px;
    border-radius: 30px;
}
.Resume-button:hover{
    border: 3px solid #fff;
    transition: 0.3s ease-out;
}
.social-media-icons {
    margin-top: 20px;

    a {
      color: white;
      font-size: 2rem;
      margin: 0 10px;

      &:hover {
        color: #1d3557;
      }
    }
}